<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HTMX TODO</title>
  <script defer src="https://unpkg.com/htmx.org@1.9.10"></script>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <section class="w-10/12 m-auto text-gray-700">
    <header class="p-1 font-bold">HTMX TODO</header>
    <main>
      <ul id="todo-list">
        <%- include('./includes/todo-list', { todos }) %>
      </ul>
      <form
        hx-post="/todos"
        hx-target="#todo-list"
        hx-swap="beforeend"
        hx-on::after-request="document.querySelector('input[name*=title]').value = null"
        class="add-todo flex justify-end mt-1"
      >
        <input
          name="title"
          type="text"
          placeholder="write a thing to do"
          class="bg-gray-200 hover:bg-gray-300 hover:border-gray-300 outline-none hover:shadow-outline rounded-lg mr-1 pl-2"
          autofocus
        />
        <button class="bg-teal-500 hover:bg-teal-600 focus:outline-none focus:shadow-outline rounded py-1 px-3">Add</button>
      </form>
    </main>
  </section>
</body>
</html>
